<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/homeHead'); %>
<body>
    <head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        </nav>
    </head>
    <main>
        <div class="logotipo">
            <h1 class="frase-logo">SCHOOL SCORE</h1>
            <img src="/img/aguia.png" alt="">
        </div>
        <div class="card col-lg-12">
            <div class="card-body">
                <a href="cadastro"><button id="comeceagora" class="btn btns btn-primary">COMECE AGORA</button><br></a>
                <button class="btn btns btn-outline-primary mt-3">JÁ TENHO CONTA</button>

            </div>
       </div>
    </main>
</body>
</html>