body{
    background-color: #03588C;
}
.card{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 30%;
    text-align: center;

    background-color: transparent;
    border: transparent;
}
.btns{
    width: 70%;
    color: #fff;
}
.logotipo{
    position: absolute;
    top: 24%;
    left: 6%;
}
.frase-logo{
    font-family: TESLA;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #fff;
}